# Домашнее задание к лекции "Базовые понятия статистики"

### Задание 1. Загрузка данных

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names), загрузить его и оставить 8 столбцов для дальнейшего изучения: `surgery?`, `Age`, `rectal temperature`, `pulse`, `respiratory rate`, `temperature of extremities`, `pain`, `outcome`.

In [1]:
import pandas as pd
data = pd.read_csv('horse_data.csv', sep=',', na_values = ['?'], names = ['surgery?','Age','Hospital Number','rectal temperature','pulse','respiratory rate','temperature of extremities','peripheral pulse','mucous membranes','capillary refill time','pain','peristalsis','abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination - feces','abdomen','packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein','outcome','surgical lesion?','site of lesion','type of lesion','subtype of lesion','specific code of lesion','cp_data'])
sorted_df = data[['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']]
sorted_df.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [40]:
sorted_df.describe(include='all')

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [4]:
sorted_df.loc[((sorted_df['Age'] != 1) & (sorted_df['Age' ] != 2))]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
212,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

In [ ]:
sorted_df2 = sorted_df.loc[(sorted_df['Age'] != 9) ]
sorted_df2 = sorted_df2.reset_index(drop=True)
#sorted_df2.head(50)

In [51]:
sorted_df2.describe(include='all')

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,275.000000,276.0,220.000000,254.000000,222.000000,228.000000,228.000000,275.000000
mean,1.410909,1.0,38.124545,67.456693,28.238739,2.364035,2.938596,1.552727
std,0.492896,0.0,0.735988,23.933953,15.251192,1.042669,1.316015,0.749660
min,1.000000,1.0,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.0,37.700000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.0,38.100000,60.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.0,38.500000,84.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,1.0,40.800000,140.000000,96.000000,4.000000,5.000000,3.000000

In [26]:
min = sorted_df2.min()
max = sorted_df2.max()
mean = sorted_df2.mean()
median = sorted_df2.median()
disp = sorted_df2.var()
std = sorted_df2.std()
q1 = sorted_df2.quantile(0.25)
q3 = sorted_df2.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
gap = sorted_df2.isna().sum()
sorted_df3 = pd.concat([min, max, mean, median, disp, std, iqr, gap], axis=1)
sorted_df3.columns = ['min', 'max', 'mean', 'median', 'disp', 'std', 'iqr', 'gap']
print(sorted_df3)

                             min    max       mean  median        disp
surgery?                     1.0    2.0   1.410909     1.0    0.242946  \
Age                          1.0    1.0   1.000000     1.0    0.000000
rectal temperature          35.4   40.8  38.124545    38.1    0.541678
pulse                       30.0  140.0  67.456693    60.0  572.834085
respiratory rate             8.0   96.0  28.238739    24.0  232.598855
temperature of extremities   1.0    4.0   2.364035     3.0    1.087159
pain                         1.0    5.0   2.938596     3.0    1.731896
outcome                      1.0    3.0   1.552727     1.0    0.561991

                                  std   iqr  gap
surgery?                     0.492896   1.0    1
Age                          0.000000   0.0    0
rectal temperature           0.735988   0.8   56
pulse                       23.933953  36.0   22
respiratory rate            15.251192  18.0   54
temperature of extremities   1.042669   2.0   48
pain                         1.316015   2.0   48
outcome                      0.749660   1.0    1

In [35]:
sorted_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    275 non-null    float64
 1   Age                         276 non-null    int64
 2   rectal temperature          276 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            276 non-null    float64
 5   temperature of extremities  276 non-null    float64
 6   pain                        276 non-null    float64
 7   outcome                     275 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 17.4 KB

In [ ]:
outliers1 = sorted_df2[(sorted_df2['rectal temperature'] < upper_bound) & (sorted_df2['rectal temperature'] > lower_bound)]
outliers2 = sorted_df2[(sorted_df2['pulse'] < upper_bound) & (sorted_df2['pulse'] > lower_bound)]
outliers3 = sorted_df2[(sorted_df2['respiratory rate'] < upper_bound) & (sorted_df2['respiratory rate'] > lower_bound)]
print(outliers1, outliers2, outliers3, sep='\n')

In [54]:
sorted_df2.pivot_table(index = 'surgery?', aggfunc = 'min')

,Age,outcome,pain,pulse,rectal temperature,respiratory rate,temperature of extremities
surgery?,,,,,,,
1.0,1,1.0,1.0,30.0,35.4,8.0,1.0
2.0,1,1.0,1.0,36.0,36.0,9.0,1.0

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [14]:
sorted_df2.isna().sum()

surgery?                       1
Age                            0
rectal temperature            56
pulse                         22
respiratory rate              54
temperature of extremities    48
pain                          48
outcome                        1
dtype: int64

surgery? -> удалить строку с неопределенным значением (жертвуем единичным значением)
Age - норм
rectal temperature -> проставить медиану (средняя температура для большой выборки)
pulse -> проставить медиану (средний пульс для большой выборки)
respiratory rate -> заполнить нолями (неинформативное поле по описанию)
temperature of extremities -> заполнить нолями (категорийные данные, невозможно предсказать значение)
pain -> заполнить нолями (категорийные данные, невозможно предсказать значение)
outcome -> удалить строку с неопределенным значением (жертвуем единичным значением)

In [33]:
sorted_df2.dropna(subset=['surgery?'])
sorted_df2.dropna(subset=['outcome'])
sorted_df2 = sorted_df2.reset_index(drop=True)
sorted_df2['rectal temperature'] = sorted_df2['rectal temperature'].fillna(sorted_df2['rectal temperature'].median())
sorted_df2['pulse'] = sorted_df2['pulse'].fillna(sorted_df2['pulse'].median())
sorted_df2['respiratory rate'] = sorted_df2['respiratory rate'].fillna(0)
sorted_df2['temperature of extremities'] = sorted_df2['temperature of extremities'].fillna(0)
sorted_df2['pain'] = sorted_df2['pain'].fillna(0)

In [34]:
sorted_df2.isna().sum()

surgery?                      1
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       1
dtype: int64