# Домашнее задание к лекции "Базовые понятия статистики"

### Задание 1. Загрузка данных

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names), загрузить его и оставить 8 столбцов для дальнейшего изучения: `surgery?`, `Age`, `rectal temperature`, `pulse`, `respiratory rate`, `temperature of extremities`, `pain`, `outcome`.

In [50]:
import pandas as pd

In [51]:
sorted_df = pd.read_csv('horse_data.csv', sep=',', na_values = ['?'], usecols = [0,1,3,4,5,6,10,22], names = ['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome'], header = 0)
sorted_df.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [40]:
sorted_df.describe(include='all')

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [16]:
sorted_df.loc[((sorted_df['Age'] != 1) & (sorted_df['Age' ] != 2))]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
8,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
12,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
15,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
22,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
38,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
54,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
74,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
81,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
102,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
108,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
134,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
190,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
211,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
228,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
243,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
251,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
261,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
274,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
286,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

In [54]:
sorted_df['Age'] = sorted_df['Age'].replace(9,2)
sorted_df = sorted_df.reset_index(drop=True)
sorted_df.sample(20)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
92,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
287,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
127,1.0,1,37.4,84.0,20.0,NaN,2.0,3.0
69,2.0,1,37.0,60.0,20.0,3.0,3.0,3.0
46,2.0,1,37.5,48.0,16.0,1.0,1.0,1.0
2,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
104,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
68,2.0,1,38.0,48.0,12.0,1.0,1.0,1.0
20,2.0,1,38.4,48.0,16.0,1.0,1.0,1.0
249,1.0,1,39.3,100.0,51.0,4.0,2.0,3.0
267,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
35,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
33,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
295,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
179,1.0,1,38.4,84.0,30.0,3.0,4.0,2.0
163,1.0,1,38.7,76.0,NaN,1.0,3.0,1.0
118,2.0,1,38.1,56.0,20.0,2.0,1.0,1.0
75,1.0,1,37.6,38.0,20.0,3.0,3.0,1.0
195,2.0,1,38.5,60.0,20.0,1.0,2.0,3.0
136,1.0,1,38.0,48.0,NaN,1.0,1.0,1.0

In [19]:
sorted_df.describe(include='all')

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,299.000000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.080268,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,0.272162,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [41]:
min = sorted_df.min()
max = sorted_df.max()
mean = sorted_df.mean()
median = sorted_df.median()
disp = sorted_df.var()
std = sorted_df.std()
q1 = sorted_df.quantile(0.25)
q3 = sorted_df.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
gap = sorted_df.isna().sum()
sorted_df2 = pd.concat([min, max, mean, median, disp, std, iqr, lower_bound, upper_bound, gap], axis=1)
sorted_df2.columns = ['min', 'max', 'mean', 'median', 'disp', 'std', 'iqr', 'lower_bound', 'upper_bound','gap']
sorted_df2.head(10)

,min,max,mean,median,disp,std,iqr,lower_bound,upper_bound,gap
surgery?,1.0,2.0,1.395973,1.0,0.239984,0.489881,1.0,-0.50,3.50,1
Age,1.0,2.0,1.080268,1.0,0.074072,0.272162,0.0,1.00,1.00,0
rectal temperature,35.4,40.8,38.166527,38.2,0.538035,0.733508,0.7,36.75,39.55,60
pulse,30.0,184.0,71.934545,64.0,822.572342,28.680522,40.0,-12.00,148.00,24
respiratory rate,8.0,96.0,30.427386,24.0,312.520747,17.678256,18.0,-9.00,63.00,58
temperature of extremities,1.0,4.0,2.345679,3.0,1.094888,1.046369,2.0,-2.00,6.00,56
pain,1.0,5.0,2.942623,3.0,1.700398,1.303993,2.0,-1.00,7.00,55
outcome,1.0,3.0,1.550336,1.0,0.544596,0.737967,1.0,-0.50,3.50,1

In [ ]:
outliers1 = sorted_df[(sorted_df['rectal temperature'] < (lambda x: upper_bound.iloc[x])) & (sorted_df['rectal temperature'] > (lambda x: lower_bound.iloc[x]))]
#outliers2 = sorted_df[(sorted_df['pulse'] < upper_bound) & (sorted_df['pulse'] > lower_bound)]
#outliers3 = sorted_df[(sorted_df['respiratory rate'] < upper_bound) & (sorted_df['respiratory rate'] > lower_bound)]
#sorted_df.head(15)

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [42]:
sorted_df.isna().sum()

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

surgery? -> удалить строку с неопределенным значением (жертвуем единичным значением)
Age - норм
respiratory rate -> заполнить нолями (неинформативное поле по описанию, широкий разброс значений)
outcome -> удалить строку с неопределенным значением (жертвуем единичным значением)

In [65]:
sorted_df.dropna(subset=['surgery?'], inplace=True)
sorted_df.dropna(subset=['outcome'], inplace=True)
sorted_df['respiratory rate'] = sorted_df['respiratory rate'].fillna(0)
sorted_df = sorted_df.reset_index(drop=True)

In [66]:
sorted_df.pivot_table(index = 'surgery?', aggfunc = 'median')

,Age,outcome,pain,pulse,rectal temperature,respiratory rate,temperature of extremities
surgery?,,,,,,,
1.0,1,1.0,3.0,67.0,38.2,24.0,3.0
2.0,1,1.0,2.0,54.0,38.2,20.0,3.0

у оперированных лошадей (surgery?=1) pain и temperature of extremities выше;

In [67]:
sorted_df.pivot_table(index = ['Age', 'surgery?'], aggfunc = 'median')

              outcome  pain  pulse  rectal temperature  respiratory rate
Age surgery?
1   1.0           1.0   3.0   66.0               38.20              22.5  \
    2.0           1.0   2.0   54.0               38.20              20.0
2   1.0           2.0   2.5  129.0               38.45              49.0
    2.0           1.0   1.0   91.0               38.45              29.0

              temperature of extremities
Age surgery?
1   1.0                              3.0
    2.0                              3.0
2   1.0                              3.0
    2.0                              1.0

есть разброс медианы (pulse, ) в зависимости от возраста и проведения операции, но не для rectal temperature

rectal temperature -> проставить медиану (средняя температура для большой выборки)
pulse -> проставить медиану (средний пульс для большой выборки)
temperature of extremities -> заполнить модой (категорийные данные)
pain -> заполнить модой (категорийные данные)

In [68]:
sorted_df['rectal temperature'] = sorted_df['rectal temperature'].fillna(sorted_df['rectal temperature'].median())
sorted_df['pulse'] = sorted_df['pulse'].fillna(sorted_df.groupby(['Age', 'surgery?'])['pulse'].transform('median'))
sorted_df['temperature of extremities'] = sorted_df['temperature of extremities'].fillna(sorted_df.groupby(['Age', 'surgery?'])['temperature of extremities'].transform(lambda x: x.mode()[0]))
sorted_df['pain'] = sorted_df['pain'].fillna(sorted_df.groupby(['Age', 'surgery?'])['pain'].transform(lambda x: x.mode()[0]))
sorted_df.head(20)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,3.0,1.0,2.0
4,2.0,1,38.2,54.0,0.0,2.0,2.0,1.0
5,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
6,1.0,1,38.2,60.0,0.0,3.0,3.0,2.0
7,2.0,1,38.2,80.0,36.0,3.0,4.0,3.0
8,2.0,2,38.3,90.0,0.0,1.0,5.0,1.0
9,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
10,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
11,1.0,1,37.2,42.0,12.0,2.0,3.0,1.0
12,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
13,1.0,1,38.2,76.0,28.0,3.0,3.0,1.0
14,1.0,1,37.6,96.0,48.0,3.0,5.0,2.0
15,1.0,2,38.2,128.0,36.0,3.0,4.0,2.0
16,2.0,1,37.5,48.0,24.0,3.0,1.0,1.0
17,1.0,1,37.6,64.0,21.0,1.0,2.0,1.0
18,2.0,1,39.4,110.0,35.0,4.0,1.0,1.0
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0

In [69]:
sorted_df.isna().sum()

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64