Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
для источников paid и email из России ставим ad;
для источников paid и email не из России ставим other;
все остальные варианты берём из traffic_source без изменений.

In [4]:
import pandas as pd
data = pd.read_csv('visit_log.csv', sep=';')
data.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [49]:
import pandas as pd
def filter_data(reg, source):
    if (source == 'yandex' or source == 'google'): return 'organic'
    elif (source =='paid' and reg == 'Russia'): return 'ad'
    elif (source =='paid' and reg != 'Russia'): return 'other'
    else: return source
data = pd.read_csv('visit_log.csv', sep=';')
data['source_type'] = data.apply(lambda x: filter_data(x['region'], x['traffic_source']), axis =  1)
data.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

Задание 2
В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. Выполните действия:

Прочитайте содержимое файла с датафрейм.
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [9]:
import pandas as pd
urls = pd.read_csv('URLs.txt')
urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [10]:
import pandas as pd
import re
urls = pd.read_csv('URLs.txt')
urls[urls.url.str.contains('/\d{8}-', regex=True)].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [92]:
import pandas as pd
data = pd.read_csv('ratings.dat', sep = "::", names = ["UserID", "MovieID", "Rating", "Timestamp"])
data.head()

/var/folders/1r/zdb41tls7vg775n3d2h3tbvc0000gn/T/ipykernel_45866/266565716.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('ratings.dat', sep = "::", names = ["UserID", "MovieID", "Rating", "Timestamp"])

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [133]:
import pandas as pd
data = pd.read_csv('ratings.csv', sep = ",")
df1 = data.groupby('userId')['rating'].count()
agg_func_selection = {'timestamp': ['first', 'last']}
df2 = data.sort_values(by=['timestamp'], ascending=False).groupby(['userId']).agg(agg_func_selection)
df3 = pd.concat([df1, df2], axis=1).reindex(df1.index)
df4 = df3[df3['rating'] > 100]
df4.head()

        rating  (timestamp, first)  (timestamp, last)
userId
4          204           949982274          949778714
8          116          1154474527         1154389340
15        1700          1469330735          997937239
17         363          1127476640         1127468587
19         423           855195373          855190091

In [45]:
import pandas as pd
data_rating = pd.read_csv('ratings.csv', sep = ",")
data_rating.groupby('userId')[['rating']].value_counts().head(10)

userId  rating
1       2.0        7
        3.0        4
        4.0        3
        2.5        3
        1.0        2
        3.5        1
2       3.0       36
        4.0       23
        5.0       11
        2.0        4
Name: count, dtype: int64